*{
    margin:0;
    padding:0;
}

body{
    height:100vh;
    background-image:url(bg.jpg);
    background-size:cover;
    backdrop-filter:blur(30px);
}

.img{
    width:35em;
    margin:0 auto;
    position:absolute;
    top:5em;
    left:42em;
}