*{
    margin:0;
    padding:0;
}

:root{
    --red:#FF3025;
    --red-hover:#a81f18;
}

/* Etiquetas */

body{
    background-color:black;
}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

p{
    color:white;
}

/* Etiquetas en clases */

.hero-description button{
    font-size:1.2rem;
    font-weight:600;
}

.hero-description p{
    margin-top:1.1em;
    margin-left:1.5em;
    font-size:0.8rem;
}

.hero-trailer p{
    font-size:1.1rem;
    opacity:75%;
}

.social-media i{
    margin:0 0.8em;
    font-size:1.7rem;
    color:white;
    opacity:75%;
    transition: color 1s;
}

.hero-slide button{
    font-size:3rem;
    color:white;
    transition:color 0.5s;
}

.hero-slide p{
    font-size:1.6rem;
    margin:0.6em 1em 0 1em;
    transition:font-size 0.5s, color 0.5s, margin-top 0.5s;
}

.movie img{
    width:12em;
}

.movie i, .news-slide .bi{
    color:white;
}

.news-container img{
    width:26em;
}

.news-slide .bi{
    font-size:3rem;
    transition: color 0.5s;
}

/* Pseudoclases */

.hoverEnlace:hover{
    transform:scale(1.1);
    color: var(--red) !important;
}

.btn-search:hover{
    transform:scale(1.1);
    color: var(--red);
}

.btn-search-absolute:hover{
    color: var(--red-hover);
}

.btn-trailer:hover{
    box-shadow:0 0 4px white;
}

.colorButton:hover{
    background-color: var(--red-hover) !important
}


.social-media i:hover{
    color:var(--red)
}

.hero-slide button:hover{
    color:var(--red);
}

.hero-slide p:hover{
    font-size:2rem;
    color:var(--red);
    margin-top:0.2em;
}

.movie:hover{
    box-shadow:0 0 7px #444444;
}

.news-slide .bi:hover{
    color:var(--red);
}

/* Clases */

/*.background{
    background-image: linear-gradient(to bottom, transparent 0%, #000000 97%), url(background.jpg);
    background-size:cover;
    background-position:center;
}*/

.logo{
    width:9em;
}

.hero{
    height:85vh;
}

.hero-description{
    bottom:12em;
    left:6em;
}

.hero-trailer{
    bottom:10em;
    right:9em;
}

.social-media{
    bottom:4em;
    left:4em;
}

.hero-slide{
    bottom:3em;
    right:4em;
}

.btn-search{
    color:white;
    font-size:1.2rem;
    transition:transform 0.5s, color 1.5s;
}

.btn-search-absolute{
    color:#444444;
    font-size:1.2rem;
    top:0.15em;
    right:0;
    transition:color 1.5s;
}

.btn-trailer{
    margin-left:0.7em;
    margin-bottom:0.4em;
    padding:0.2em 0.5em;
    border-radius:100%;
    background-color:white;
    color:red;
    font-size:1.8rem;
    transition: box-shadow 0.5s;
}

.estrenos-search{
    color:#444444;
    width:30em;
    border-color:#444444 !important;
}

.movie{
    cursor: pointer;
    transition:box-shadow 0.5s;
}

.movie-title{
    font-weight:bold;
    font-size:1.3rem;
}

.movie-description{
    font-weight:lighter;
}

.estrenos-fecha{
    right:1.5em;
    bottom:6em;
}

.prox-background{
    background-color:var(--red);
}

.news-title{
    font-weight:lighter;
    font-size:1.1rem;
    width:80%;
}

.footer-content{
    width:75%;
    margin:0 auto;
    padding-bottom:3em;
}

.copyright{
    font-weight:lighter;
    top:3.3em;
    right:4em;
}

.sacarEnlace{
    text-decoration: none;
}

.colorButton{
    background-color: var(--red) !important;
    color: white !important;
    transition: background-color 0.5s !important;
}

.maxIcon{
    font-size: x-large;
}

.textWhite{
    color: white !important;
}

.ancho{
    width: 25rem;
}

